body {
    background-color: #dddddd;
}

h1, h2 {
    color: #22aaaa;

}
.col-lg-12 {
    background-color: #ffffff;
}

}
.col-xs-2 {
    background-color: #ffffff;
}

.dropdown {
    color: #444444;
}
a.navbar-brand {
    background-color: #22aaaa;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}



.col-md-7 {
    margin-top: 50px;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}

.col-md-4 {
    margin-top: 50px;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}

.col-sm-12 {
    margin-top: 50px;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}

.col-sm-6 {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

#footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 40px;
    background-color: #444444;
}
    .footer-block {
        color: #ffffff;
        margin: 10px 0;
        text-align: center;
        font-size: 9pt;
}

.dropdown-menu {
    color: #666666;
}

.services dropdown-toggle{
    color: #444444;
}

